#relogio{
    font-family: 'Courier New', monospace;
    font-size: 36px;
    padding: 15px 25px;
    background: #111;
    color: #ffffff;
    border-radius: 10px;
    letter-spacing: 2px;

    animation: pulse 1s infinite;
}

