#relogio{
    font-family: 'Courier New', monospace;
    font-size: 36px;
    padding: 15px 25px;
    background: #111;
    color: #00ff88;
    border-radius: 10px;
    letter-spacing: 2px;

    animation: pulse 1s infinite;
}

@keyframes pulse{
    0% {opacity: 1;}
    50% {opacity: 0.7;}
    100%{ opacity: 1;}
}